.website-form

  form
    width: 400px
    margin: 70px auto 0

    input, button
      display: inline-block
      vertical-align: middle

    input
      width: calc(100% - 110px)
    button
      margin-left: 10px
      width: 100px
