extends ./layout.pug

block seo
    - var metaTitle = 'Convargo'
    - var metaDescription = 'Convargo'

block body
  nav
    .nav-container
      img(src="/images/logo.png")
      span CONVARGO

  div.main !{html}

  script(src="/javascripts/compiled/front.js")
