extends ./layout.pug

block seo
    - var metaTitle = 'Convargo'
    - var metaDescription = 'Convargo'

block body
  nav
    span.brand
      a(src="/images/logo.png")

  div.main !{html}

  script(src="/javascripts/compiled/front.js")
